body{
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #FFFF;
}

.topnav {
    overflow: hidden;
    background-color: #000000;
    color: #FFFF;
    height: 120px;
}

.topnav p{
    float: left;
    font-size: 48px;
    font-weight: bold;
    position: relative;
    bottom: 20px;
    left: 35px;
}

.contactMe img{
    width: auto;
    height: auto;
    max-width: 39px;
    max-height: 39px;
    margin-bottom: 60px;
}

.topnav a{
    float: right;
    color: #FFFF;
    font-size: 24px;
    font-weight: bold;
    margin: auto;
    margin-top: 35px;
    padding: 10px;
}

.topnav img{
    float: left;
    margin: auto;
    padding: 10px;
    width: auto;
    height: auto;
    max-width: 46px;
    max-height: 87px;
}




.logo{
    margin-left: 40px;
}

.main img{
    text-align: center;
}


.name{
    font-size: 48px;
    font-weight: bold;
    color: #7DA85C;
}

.main{
    font-size: 30px;
}

.main a{
    font-weight: bold;
    color: #FFFF;
    background-color: #000000;
    margin: auto;
    padding: 15px;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 60px;
}