body{
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.topnav {
    overflow: hidden;
    background-color: #000000;
    color: #FFFF;
}

.topnav p{
    float: left;
    font-size: 48px;
    font-weight: bold;
    padding: 10px 10px;
}

.topnav a{
    float: right;
    color: #FFFF;
    font-size: 20px;
    margin: 10px;
    padding: 10px;
}

.topnav img{
    float: left;
    margin: auto;
    margin-left: 40px;
    padding: 10px;
    width: auto;
    height: auto;
    max-width: 46px;
    max-height: 87px;
}


.contactMe{
    width: auto;
    height: auto;
    max-width: 39px;
    max-height: 39px;
}