body{
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #FFFF;
}

/* CSS for top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #000000;
    color: #FFFF;
    height: 120px;
}

.topnav p{
    float: left;
    font-size: 48px;
    font-weight: bold;
    position: relative;
    bottom: 20px;
    left: 35px;
}

.contactMe img{
    width: auto;
    height: auto;
    max-width: 39px;
    max-height: 39px;
    margin-bottom: 60px;
}

.topnav a{
    float: right;
    color: #FFFF;
    font-size: 24px;
    font-weight: bold;
    margin: auto;
    margin-top: 35px;
    padding: 10px;
}

.topnav img{
    float: left;
    margin: auto;
    padding: 10px;
    width: auto;
    height: auto;
    max-width: 46px;
    max-height: 87px;
}

.logo{
    margin-left: 40px;
}

/* CSS for main home page */
.main{
    font-size: 30px;
    margin: auto;
    padding: 40px;
    padding-top: 100px;
    width: auto;
    max-width: 1300px;
    display: flex;
}

.main img{
    width: 100%;
    max-width: 418px;
}

.name{
    font-size: 48px;
    font-weight: bold;
    color: #7DA85C;
}

.main a{
    font-weight: bold;
    color: #FFFF;
    background-color: #000000;
    position: relative;
    top: 20px;
    margin: auto;
    padding: 15px;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 60px;
}

.homeinfo {
    font-size: 30px;
    margin-top: revert;
    position: relative;
    bottom: 20px;
}

.buttons {
    position: relative;
    bottom: 20px;
}



/* CSS for about page */
.about{
    display: flex;
    margin: auto;
    width: auto;
    max-width: 1300px;
    padding: 40px;
}

.abtimg {
    height: 100%;
    width: 100%;
    max-width: 550px;
}

.abouttitle{
    font-size: 48px;
    color: #7DA85C;
    font-weight: bold;
}

.aboutinfo{
    padding-left: 40px;
    font-size: 20px;
}

/* CSS for project page */

.project {
    margin: auto;
    width: auto;
    max-width: 1700px;
    padding: 40px;
    padding-top: revert;
}


.websitecreate img {
    height: auto;
    max-height: 300px;
    border: 2px solid #000000;
}

.projtitle{
    font-size: 30px;
    font-weight: bold;
    color: #7DA85C;
    position: relative;
}

.projdesc{
    font-size: 20px;
    line-height: 1.5;
    border-bottom: solid 2px #000000;
}
